<%= form_with(model: [ room, message ], id: 'new_message', remote: true) do |form| %>
  <%= render 'shared/errors', object: message %>
  <div class="row">
    <div class="col-10 pe-0">
      <%= form.text_field :content, class: 'form-control', autocomplete: 'off' %>
    </div> 
    <div class="col-2 ps-0">
      <%= form.submit 'Send', data: { disable_with: false }, class: 'btn btn-primary w-100' %>
    </div>
  </div>
<% end %>
